@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/*  */

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url('pics/392.jpg');
    height: 1200px;
}

.logo{
margin-left: 10%;
margin-top: 5%;
}

.logo img:hover {
    filter: invert(68%) sepia(45%) saturate(685%) hue-rotate(127deg) brightness(84%) contrast(93%);
    transition: 0.1s;
  }

.menu{
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
}

.menu>a{
    padding: 1.5%;
    font-family: inherit;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu a:hover {
    color: #00dbc9;
}

.designer{
    margin-bottom: 15%;
}

/*  */

.aboutUs{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    height: 400px;
}

.aboutUs img{
    width: 50%;
}

/* skill progress bars */

.skill{
    height: 600px;
    background-image: url(/pics/torii_black_and_white-wallpaper-1920x1080.jpg);
    background-position: center;
    background-size: cover;
}

.skill h1{
    margin-left: 5%;
}

.progress-container {
    width: 100%;
    max-width: 600px;
    margin-left: 5%;
    margin-top: 3%;
}

.progress-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-bar {
    background-color: #c4c4c4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    background-color: #00dbc9;
    height: 5px;
    border-radius: 10px;
}

/* skill progress bars */

/* WORK */

.work{
    background-color: #00dbc9;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.workbox{
    display: flex;
    align-items: center;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    text-align: left;
}

.workbox img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.workbox .texticon { 
    display: flex;
    flex-direction: column;
}

/* WORK */

/* GALLERY */

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.gallery-item {
    position: relative;
    flex: 1 1 calc(25% - 20px);
    overflow: hidden;
    height: 400px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: filter 0.3s ease;
}

.gallery-item:hover img {
    filter: brightness(50%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

/* GALLERY */

/* PROCESS */

.process{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    height: 700px;
}

.video-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
}

/* PROCESS */


/* ICONS */

.icons {
    background-color: #cccccc;
    height: 600px;
    display:grid;
    flex-wrap: wrap;
    
}

.icons-row {
    margin-top: 4%;
    display: flex;
}

.iconsbox{
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.iconsbox img{
    width: 50px;
    height: 50px;
}

.iconsbox:hover {
    filter: invert(68%) sepia(45%) saturate(685%) hue-rotate(127deg) brightness(84%) contrast(93%);
    transition: 0.1s;
  }

.iconsbox h3{
    margin-top: 20px;
}


/* ICONS */


/* QUOTE */

.quote {
    height: 600px;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #00dbc9;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mySlides {
    display: none;
    text-align: center;
    padding: 20px;
}

.mySlides h1 {
    margin-bottom: 10px;
    margin-top: 10%;
}

/* Fade animation */
.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: .4}
    to {opacity: 1}
}

.dots-container {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* QUOTE */

/* COLLAB */

.collab{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.collabbox{
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}

.collabbox img{
    width: 10%;
    height: 10%;
}

.collabbox img:hover {
    filter: invert(68%) sepia(45%) saturate(685%) hue-rotate(127deg) brightness(84%) contrast(93%);
    transition: 0.1s;
  }

/* COLLAB */

/* NEED A PROJECT */

.needaproject{
    background-color: #b9b9b9;
}

.contact-form {
    
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form p {
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.input-field {
    width: calc(50% - 5px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-title {
    width: 100%;
    margin-bottom: 20px;
}

.input-message {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #00dbc9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #00998c;
}


/* NEED A PROJECT */

footer{
    padding: 3%;
    height: 200px;
    background-color:rgb(22, 22, 22);
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: space-between;
}

footer div {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

footer div a {
    display: block;
    margin-bottom: 5px;
    font-family: inherit;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #00dbc9;
}