@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c4c4c4;
    margin: 0;
    padding: 0;
}

/*  */

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dwie kolumny o równej szerokości */
    background-image: url(/pics/simple-blue-hexagon-line-on-white-background-medicine-and-science-concept-abstract-healthy-and-medical-background-template-brochure-design-technology-and-science-wallpaper-template-vector.jpg);
    height: 800px;
}

.logo{
margin-left: 10%;
margin-top: 5%;
}

.menu{
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
}

.menu>a{
    padding: 1.5%;
}

/*  */

.aboutUs{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    height: 300px;
}

/* skill progress bars */

.skill{
    height: 500px;
    background-image: url(/pics/cool-white-1920-x-1080-background.jpg);
}

.skill>h1{
    margin-left: 5%;
}

.progress-container {
    width: 100%;
    max-width: 600px;
    margin-left: 5%;
    margin-top: 3%;
}

.progress-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-bar {
    background-color: #c4c4c4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    background-color: #2196f3;
    height: 5px;
    border-radius: 10px;
}

/* skill progress bars */

/* WORK */

.work{
    height: 200px;

    display: flex; /* Ustawia elastyczne rozmieszczenie elementów w kontenerze */
    justify-content: space-between; /* Rozmieszcza elementy równomiernie z odstępami między nimi */
    align-items: center; /* Wyrównuje elementy pionowo na środku */
    padding: 20px; /* Dodaje wewnętrzny margines wokół kontenera */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Dodaje cień wokół kontenera */
}

.iconbox{
    display: flex; /* Ustawia elastyczne rozmieszczenie elementów w kontenerze */
    align-items: center; /* Wyrównuje elementy pionowo na środku */
    padding: 20px; /* Dodaje wewnętrzny margines wokół kontenera */
    flex: 1; /* Ustawia, że wszystkie kontenery będą miały równą szerokość */
    margin: 0 10px; /* Dodaje odstęp między kontenerami */
    text-align: left; /* Ustawia wyrównanie tekstu do lewej */
}

.iconbox img{
    width: 40px; /* Ustawia szerokość ikony */
    height: 40px; /* Ustawia wysokość ikony */
    margin-right: 10px; /* Dodaje odstęp między ikoną a tekstem */
}

.iconbox .texticon { 
    display: flex; /* Ustawia elastyczne rozmieszczenie elementów w kontenerze */
    flex-direction: column; /* Ustawia kierunek elementów na pionowy */
}

/* WORK */

/* GALLERY */

.gallery {
    display: flex; /* Ustawia kontener galerii jako flexbox */
    flex-wrap: wrap; /* Pozwala elementom zawijać się do nowego wiersza */
    justify-content: center; /* Wyśrodkowuje elementy galerii w poziomie */
}

.gallery-row {
    display: flex; /* Ustawia wiersz galerii jako flexbox */
    justify-content: center; /* Wyśrodkowuje elementy w wierszu */
    width: 100%; /* Szerokość wiersza równa 100% */
    margin-bottom: 20px; /* Dolny margines między wierszami */
}

.gallery-item {
    position: relative; /* Ustawia pozycję względną względem galerii */
    flex: 1 1 25%; /* Elastyczny udział w szerokości, 25% na 4 kolumny */
    box-sizing: border-box; /* Uwzględnia obramowanie i padding w szerokości */
    margin: 0 10px; /* Odstęp między elementami */
    overflow: hidden; /* Ukrywa zawartość, która wychodzi poza kontener */
}

.gallery-item img {
    width: 100%; /* Pełna szerokość w kontenerze */
    height: auto; /* Automatyczna wysokość zachowująca proporcje */
    display: block; /* Ustawia zdjęcie jako blok */
    transition: filter 0.3s ease; /* Płynne przejście efektu filtru */
}

.gallery-item:hover img {
    filter: brightness(50%); /* Przyciemnia zdjęcie przy najechaniu */
}

.overlay {
    position: absolute; /* Ustawia położenie absolutne dla nakładki */
    top: 0; /* Odległość od góry */
    left: 0; /* Odległość od lewej */
    width: 100%; /* Szerokość 100% */
    height: 100%; /* Wysokość 100% */
    display: flex; /* Ustawia nakładkę jako flexbox */
    justify-content: center; /* Wyśrodkowuje zawartość w poziomie */
    align-items: center; /* Wyśrodkowuje zawartość w pionie */
    background-color: rgba(0, 0, 0, 0.5); /* Przezroczysty czarny kolor tła */
    opacity: 0; /* Ukrywa nakładkę początkowo */
    transition: opacity 0.3s ease; /* Płynne przejście opacity */
}

.gallery-item:hover .overlay {
    opacity: 1; /* Pokazuje nakładkę po najechaniu na zdjęcie */
}

.icon {
    width: 10px; /* Szerokość ikony */
    height: 10px; /* Wysokość ikony */
    display: block; /* Ustawia ikonę jako blok */
    transition: opacity 0.3s ease; /* Płynne przejście opacity */
    opacity: 0; /* Ukrywa ikonę początkowo */
}

.gallery-item:hover .icon {
    opacity: 1; /* Pokazuje ikonę po najechaniu na zdjęcie */
}

/* GALLERY */



























footer{
    /* grid-template-columns: repeat(3, 1fr); */
    height: 200px;
    background-color:rgb(112, 112, 112);
}